*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:linear-gradient(45deg ,#9251ac,#68119b);
    color:#fff;
    text-align: center;
}
header{
    height: 100px;
    width: 100%;
    background-color: #6551ac;
}

header p{
    color: #fff000;
    
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;
    font-size: 30px;
    
    text-shadow: 0px 0px 10px;
}

.voltar{
    background-color: #68119b;
    color: #fff000;
    text-decoration: none;

    text-align: center;
    margin: 100px;
    padding: 11px;
    border-radius: 50px;
}

.tabela{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

td,th,tr{
    text-align: center;
    padding: 10px;
    background-color: #68119b;
}