body{
    justify-items: center;
    background-color: #00293b;
    color: aliceblue;
    font-size: 20px;
}
.linha{
    width: 1900px;
    height: 5px;
    background-color: #007c92;
}
.navegacao{
    display: flex;
}
.navegacao li{
    list-style: none;
    margin-right: 25px;
}
.navegacao a{
    font-size: 20px;
    color: #fffb00;
    text-decoration: none;
    border-bottom: 1px solid #007c92;
    margin-bottom: 10px;
    margin-top: 10px;
}
.linha{
    width: 1900px;
    height: 5px;
    background-color: #007c92;
}