body{
    justify-items: center;
    background-color:#00293b;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tituloPrincipal{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    font-size: 100px;
    text-shadow: 1px 1px 20px rgba(223, 234, 255, 0.3);
}
.linha{
    width: 1900px;
    height: 5px;
    background-color: #007c92;
}
.navegacao{
    display: flex;
}
.navegacao li{
    list-style: none;
    margin-right: 25px;
}
.navegacao a{
    font-size: 20px;
    color: #fffb00;
    text-decoration: none;
    border-bottom: 1px solid #007c92;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: 0.2s;
}
.box{
    display: flex;
    width: 800px;
    height: 430px;
    background-color: #003350;
    border-radius: 40px;
    text-align: center;
}
.produtos{
    font-size: 10px;    
    display: flex;
    justify-content: center;
    margin-right: 60px;
}
.fotowhey img{
    transition: 0.3s;
}
.fotowhey img:hover{
    transform: scale(1.4);
}
.fotocreatina img{
    transition: 0.3s;
}
.fotocreatina img:hover{
    transform: scale(1.4);
}.fotobcaa img{
    transition: 0.3s;
}
.fotobcaa img:hover{
    transform: scale(1.4);
}
.whey{
    color:rgb(255, 154, 87); 
}
.boxw{
    display: flex;
    width: 900px;
    height: 600px;
    background-color:  #001f31; 
    border-radius: 40px;
    font-size: 18px;
    text-align: center;
    transition: 0.2s;
}
.boxw:hover{
    transform: none;
    box-shadow: 0 0 40px rgb(255, 154, 87);
}
.boxw p{
    margin: 55px;
}
.fotowhey{
    background: url(../imagens/fotowhey.png);
    width: 100px;
    height: 200px;
}
.creatina{
    color: rgb(255, 212, 72);
}
.boxc{
    display: flex;
    width: 900px;
    height: 600px;
    background-color: #001f31;
    border-radius: 40px;
    font-size: 18px;
    text-align: center;
    transition: 0.2s;
}
.boxc:hover{
    transform: none;
    box-shadow: 0 0 40px rgb(255, 212, 72);
}
.boxc p{
    margin: 45px;
} 
.bcaa{
    color:#879600;
}
.boxb{
 display: flex;
 width: 900px;
 height: 400px;
 background-color:  #001f31;
 border-radius: 40px;
 font-size: 18px;
 text-align: center;
 transition: 0.2s;
}
.boxb:hover{
    transform: none;
    box-shadow: 0 0 40px #879600;
}
.boxb p{
    margin-top: 60px;
    margin: 45px;
} 