
body{
    background-color: #444;
    color: #fff;
}

.form input{
    display: flex;
    flex-direction: column;
}
.form button{
    padding: 30px;
}
input{
    text-align: center;
    margin: 15px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}